rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Completely lock down client-side access
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
